NEXT_PUBLIC_SITE_URL="http://localhost:3000"

NEXT_PUBLIC_GITHUB_ACCESS_TOKEN="your_github_access_token_here"
NEXT_PUBLIC_GITHUB_USERNAME="krudi"

NEXT_PUBLIC_MATOMO_URL="https://matomo.krudi.io"
NEXT_PUBLIC_MATOMO_SITE_ID="2"
